<!DOCTYPE HTML>
<html>

<head>
  <title>智慧农业系统</title>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
  <link rel="stylesheet" href="assets/css/main.css" />
</head>

<body class="is-preload">

  <div id="main" style="position:relative;top:10px;width: 1200px;height:600px;"></div>
  <div id="linechartContainer" style="position: absolute; top:500px; left: 320px; width: 1000px; height: 300px;">
  </div>


  <div id="sidebar">


    <h2>智慧农业系统</h2>


    <nav id="nav">
      <ul>
        <li><a href="index.html">实时数据</a></li>
        <li class="current"><a href="test.html">统计数据</a></li>

      </ul>
    </nav>


    <ul id="copyright">
      <li>&copy;System by:xjs & lzc.</li>
    </ul>

  </div>



  <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/echarts@5.4.2/dist/echarts.min.js"></script>
  <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-3.5.1.min.js"></script>
  <script type="text/javascript">
    var lineElement = document.getElementById("linechartContainer");
    var myChart = echarts.init(document.getElementById('main'));
    var lineChart = echarts.init(lineElement, null, {
      renderer: 'canvas',
      useDirtyRect: false
    });
    var dates = [];
    var dates_avg = [];
    $.ajax({
      type: "get",
      url: "/average",
      contentType: "application/json",
      success: function (res) {
        console.log("=====res: =======")
        console.log(res);
        var soilmoisturevalue = [];
        var soiltempvalue = [];
        var soilphvalue = [];
        var airtempvalue = [];
        var airhumivalue = [];
        var lightintensvalue = [];

        for (var i = 0; i < res.data.length; i++) {
          var date_avg = +echarts.time.parse(res.data[i][0] + '-' + res.data[i][1] + '-' + res.data[i][2]);
          dates_avg.push(
            echarts.time.format(date_avg, '{yyyy}-{MM}-{dd}', false)
          );
          soilmoisturevalue.push(parseFloat(res.data[i][3]));
          soiltempvalue.push(parseFloat(res.data[i][4]));
          soilphvalue.push(parseFloat(res.data[i][5]));
          airtempvalue.push(parseFloat(res.data[i][6]));
          airhumivalue.push(parseFloat(res.data[i][7]));
          lightintensvalue.push(parseFloat(res.data[i][8]));
        }
        lineChart.setOption({
          title: {
            text: '日均数据折线图'
          },
          tooltip: {
            trigger: 'axis'
          },
          legend: {
            data: ['土壤水分', '土壤温度', '土壤PH值', '空气温度', '空气湿度']
          },
          grid: {
            left: '3%',
            right: '4%',
            bottom: '3%',
            containLabel: true
          },
          toolbox: {
            feature: {
              saveAsImage: {}
            }
          },
          xAxis: {
            type: 'category',
            boundaryGap: false,
            data: dates_avg
          },
          yAxis: {
            type: 'value',


          },
          series: [
            {
              name: '土壤水分',
              type: 'line',
              data: soilmoisturevalue
            },
            {
              name: '土壤温度',
              type: 'line',
              data: soiltempvalue
            },
            {
              name: '土壤PH值',
              type: 'line',
              data: soilphvalue
            },
            {
              name: '空气温度',
              type: 'line',
              data: airtempvalue
            }
          ]
        });
      }
    });


    //请求后台数据
    $.ajax({
      type: "get",
      url: "/warning",
      contentType: "application/json",
      success: function (res) {
        console.log("=====res: =======")
        console.log(res);
        for (var i = 0; i < res.data.length; i++) {
          var date = +echarts.time.parse(res.data[i][0] + '-' + res.data[i][1] + '-' + res.data[i][2]);
          dates.push([
            echarts.time.format(date, '{yyyy}-{MM}-{dd}', false),
            res.data[i][3]
          ]);
        }
        myChart.setOption({
          title: {
            show: true,
            text: "土壤温度每日报警次数",
            left: 'center'
          },
          tooltip: {
            position: 'top',
            formatter: function (p) {
              const format = echarts.time.format(p.data[0], '{yyyy}-{MM}-{dd}', false);
              return format + ': ' + p.data[1];
            }
          },
          visualMap: {
            min: 0,
            max: 300,
            calculable: true,
            orient: 'horizontal',
            left: 'center',
            top: 'center'
          },
          calendar: [
            {
              orient: 'horizontal',
              range: '2023'
            }
          ],
          series: [
            {
              type: 'heatmap',
              coordinateSystem: 'calendar',
              calendarIndex: 0,
              data: dates
            }
          ]
        });
      }
    });

  </script>
</body>

</html>